<% provide(:title, 'Sign up') %>
<center><h1>Sign Up</h1></center>  

<div align="center" style="width: 60%; margin: 200px auto;">
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

      <%= f.label :student_id, "Student ID" %>
      <%= f.text_field :student_id %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
</div>